modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 44482122
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Build & Test"
author = 44482122
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run lint"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run type-check"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"
